.banner {
  position: relative;
  height: 100vh;
  background-image: url('/zoom2.png'); /* <-- Replace with your filename */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  color: white;
  max-width: 800px;
  padding: 20px;
  text-align: left;
}

.hello {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  letter-spacing: 0.056px;
}

.title {
  font-size: 160px;
  font-weight: normal;
  margin-bottom: 1rem;
  font-family: 'Teko';
}

.description {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}
