
.padding30 {
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
}

.innerCardBody {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.card_title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  font-family: Roboto, Helvetica, sans-serif;
}

.thumbnailWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
      box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.5); 

}

.thumbnailImage {
  transition: transform 0.5s ease;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.5); 

}

.thumbnailWrapper:hover .thumbnailImage {
  transform: scale(1.1); /* scales only the image */
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.5); 

}

.sectionBackground {
  background-image: url("../../../public/dot-gray.jpg");
  /* background-size: cover; */
  /* background-position: center; */
  background-repeat: repeat;
  
}

.demo__title {
    font-family: 'Teko', Helvetica, sans-serif;
    font-size: 70px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: #000000;
}
.demo__title2 {
    line-height: 1;
    letter-spacing: 0.2em;
    color: #666;
    font-size: 18px;
    line-height: 1.222222222222222;
    line-height: 1.555555555555556;
    margin-left: 28px;

}
.demo__title-description {

    
}
.cardShadow {
  background: transparent;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardShadow:hover {
      background: transparent;

  transform: translateY(-6px); /* slight lift on hover */
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2); /* stronger shadow on hover */
}
.bgStyle{
    background-color: transparent;
    
}