.testimonialSection {
  background-color: #f8f8f8;
}

.testimonialItem {
  /* border: 2px solid #007bff; */
  transition: transform 0.3s, box-shadow 0.3s;
}

.testimonialCard {
  min-height: 400px !important; /* Ensure minimum height */
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
