

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-roboto), sans-serif;
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


.section_padding {
  padding-top: 90px;
  padding-bottom: 90px !important;
}


