

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-roboto), sans-serif;
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


.section_padding {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}


.heading2 {
  font-family: var(--font-teko), Helvetica, sans-serif;
  font-size: 70px;
  line-height: 1;
  color: #000;
}


.label {
  display: inline-block;
  padding: 5px 6px 4px;
  margin: 0;
  font-family: var(--pf);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.125;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #f24a00;
}