.section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.one {
  z-index: 3; /* Section 1 always on top initially */
}

.two {
  margin-top: -100vh; /* climbs up over section 1 */
  z-index: 2;
  background: #f59e0b;
  color: white;
}

.three {
  z-index: 1;
  background: #1e3a8a;
  color: white;
}
